<!DOCTYPE html>
<html>
  <head><title>Tetris</title></head>
  <body>
    <canvas id="score" width="200" height="800" style="border:1px solid #ffffff;">
    </canvas>
    <canvas id="board" width="400" height="800" style="border:1px solid #d3d3d3;">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
    <script src="tetris.js"></script>
  </body>
</html>
